# Base de datos MySQL
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

# NextAuth (Autenticación)
NEXTAUTH_URL="https://tu-dominio.com"
NEXTAUTH_SECRET="genera-con-comando: openssl rand -base64 64"

# Entorno y Rutas
NEXT_PUBLIC_APP_URL="https://tu-dominio.com"

# Manejador de Redis (Opcional, para Rate Limiting en Prod)
REDIS_URL="redis://127.0.0.1:6379"

# Variables Adicionales o Switches
NODE_ENV="production"
# IS_ELECTRON="true" # Descomentar sólo si construyes binarios de escritorio
